<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom fonts for this template-->
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/admin/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>

    <style>
        .ck-editor__editable[role="textbox"] {
            min-height: 300px;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Medical<sup>Article</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Nav Item - Contact -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Contact">
                    <svg fill="#ffffff" width="25px" height="25px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 1694.235h1920V226H0v1468.235ZM112.941 376.664V338.94H1807.06v37.723L960 1111.233l-847.059-734.57ZM1807.06 526.198v950.513l-351.134-438.89-88.32 70.475 378.353 472.998H174.042l378.353-472.998-88.32-70.475-351.134 438.89V526.198L960 1260.768l847.059-734.57Z" fill-rule="evenodd"></path> </g></svg>
                    <span>İsmarıclar</span>
                    <span id="contactCount" title="Yeni mesaj" class="badge badge-danger badge-counter" style="font-size:16px;"></span>
                </a>
            </li>

            <!-- Nav Item - About -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="About">
                    <svg width="30px" height="30px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>about</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="about-white" fill="#fff" transform="translate(42.666667, 42.666667)"> <path d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z" id="Shape"> </path> </g> </g> </g></svg>
                    <span>Haqqımızda</span>
                </a>
            </li>
            <!-- Nav Item - TeamBoard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="TeamBoard">
                    <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" width="25px" height="25px" fill="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">
                                                                                                                                                                                                                                                                                                                                                                                   .st0 {
                                                                                                                                                                                                                                                                                                                                                                                       fill: #fff;
                                                                                                                                                                                                                                                                                                                                                                                   }
</style> <g> <path class="st0" d="M256.494,96.433c26.632,0,48.209-21.592,48.209-48.201C304.703,21.584,283.126,0,256.494,0 c-26.647,0-48.216,21.584-48.216,48.232C208.278,74.84,229.847,96.433,256.494,96.433z"></path> <path class="st0" d="M321.225,126.746l-64.731,64.731l-65.139-65.131c-14.756,9.176-26.412,25.91-26.412,41.718v162.059 c0,11.687,9.466,21.153,21.153,21.153c5.738,0,0,0,14.757,0l8.045,138.214c0,12.433,10.078,22.511,22.519,22.511 c5.236,0,14.92,0,24.583,0c9.67,0,19.34,0,24.591,0c12.432,0,22.503-10.078,22.503-22.511l8.052-138.214c14.757,0,9.003,0,14.757,0 c11.679,0,21.145-9.466,21.145-21.153V168.063C347.049,152.475,335.715,136,321.225,126.746z"></path> <polygon class="st0" points="242.076,165.732 256.463,180.119 269.807,166.784 269.807,140.82 242.076,140.82 "></polygon> <rect x="242.091" y="113.787" class="st0" width="27.691" height="17.747"></rect> <path class="st0" d="M408.711,149.084c23.28,0,42.102-18.854,42.102-42.11c0-23.256-18.822-42.11-42.102-42.11 c-23.249,0-42.094,18.853-42.094,42.11C366.617,130.231,385.462,149.084,408.711,149.084z"></path> <path class="st0" d="M458.065,171.784l-50.202,50.194l-33.123-33.123v141.267c0,13.586-5.62,25.815-14.614,34.669v6.852 l7.025,120.694c0,10.856,8.815,19.662,19.662,19.662c4.592,0,13.029,0,21.475,0c8.453,0,16.899,0,21.474,0 c10.863,0,19.662-8.806,19.662-19.662l7.025-120.694c12.889,0,7.873,0,12.889,0c10.204,0,18.468-8.265,18.468-18.484V211.641 C487.805,195.511,473.936,178.314,458.065,171.784z"></path> <polygon class="st0" points="407.886,210.581 421.073,197.403 421.073,180.323 395.752,180.323 395.752,198.447 "></polygon> <rect x="395.744" y="160.23" class="st0" width="25.344" height="11.648"></rect> <path class="st0" d="M103.289,149.084c23.249,0,42.094-18.854,42.094-42.11c0-23.256-18.845-42.11-42.094-42.11 c-23.28,0-42.102,18.853-42.102,42.11C61.187,130.231,80.009,149.084,103.289,149.084z"></path> <path class="st0" d="M137.26,188.855l-33.123,33.123l-50.202-50.194c-15.87,6.53-29.74,23.727-29.74,39.858v141.518 c0,10.22,8.265,18.484,18.468,18.484c5.015,0,0,0,12.888,0l7.026,120.694c0,10.856,8.798,19.662,19.661,19.662 c4.576,0,13.022,0,21.475,0c8.446,0,16.883,0,21.475,0c10.848,0,19.662-8.806,19.662-19.662l7.025-120.694v-6.852 c-8.994-8.854-14.614-21.083-14.614-34.669V188.855z"></path> <polygon class="st0" points="104.113,210.581 116.248,198.447 116.248,180.323 90.927,180.323 90.927,197.403 "></polygon> <rect x="90.911" y="160.23" class="st0" width="25.345" height="11.648"></rect> </g> </g></svg>
                    <span>Komandamız</span>
                </a>
            </li>


            <!-- Nav Item - Statistic -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Statistic">
                    <svg fill="#ffffff" width="25px" height="25px" viewBox="0 0 24 24" id="statistic-grow" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="secondary" d="M21,20H3a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z" style="fill: #fffff;"></path><path id="primary" d="M21,4H16a1,1,0,0,0,0,2h2.59L13.8,10.78,8.45,8.11a1,1,0,0,0-1.22.25l-5,6a1,1,0,0,0,.13,1.41A1,1,0,0,0,3,16a1,1,0,0,0,.77-.36l4.49-5.39,5.29,2.64a1,1,0,0,0,1.16-.18L20,7.41V10a1,1,0,0,0,2,0V5A1,1,0,0,0,21,4Z" style="fill: #fff;"></path></g></svg>
                    <span>Statistika</span>
                </a>
            </li>

            <!-- Nav Item - FAQ -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Faq">
                    <svg fill="#fff" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502 502" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M428.483,73.516C381.076,26.108,318.045,0,251,0C183.956,0,120.924,26.108,73.516,73.516S0,183.956,0,251 s26.108,130.076,73.516,177.484C120.924,475.892,183.956,502,251,502c67.045,0,130.076-26.108,177.483-73.516 C475.892,381.076,502,318.044,502,251S475.892,120.924,428.483,73.516z M251,482C123.626,482,20,378.374,20,251 S123.626,20,251,20s231,103.626,231,231S378.374,482,251,482z"></path> <path d="M251,41.36c-71.131,0-129,57.869-129,129c0,19.299,15.701,35,35,35s35-15.701,35-35c0-32.533,26.467-59,59-59 c32.532,0,59,26.467,59,59c0,32.809-26.468,59.5-59,59.5c-19.299,0-35,15.701-35,35v68.781c0,19.299,15.701,35,35,35 s35-15.702,35-34.999v-38.638c25.275-7.181,48.08-22.162,64.871-42.763C369.655,229.195,380,200.116,380,170.36 C380,99.229,322.131,41.36,251,41.36z M273.893,277.422c-4.605,0.992-7.893,5.064-7.893,9.775v46.443c0,8.271-6.729,15-15,15 s-15-6.729-15-15v-68.781c0-8.271,6.729-15,15-15c43.561,0,79-35.664,79-79.5c0-43.561-35.439-79-79-79c-43.561,0-79,35.44-79,79 c0,8.271-6.729,15-15,15s-15-6.729-15-15c0-60.103,48.897-109,109-109c60.103,0,109,48.897,109,109 C360,221.641,323.787,266.667,273.893,277.422z"></path> <path d="M251,386.641c-19.299,0-35,15.701-35,35v4c0,19.299,15.701,35,35,35s35-15.702,35-35v-4 C286,402.342,270.299,386.641,251,386.641z M266,425.641c0,8.271-6.729,15-15,15s-15-6.729-15-15v-4c0-8.271,6.729-15,15-15 s15,6.729,15,15V425.641z"></path> <path d="M59.077,290.972C56.372,277.911,55,264.462,55,251c0-5.523-4.477-10-10-10s-10,4.477-10,10 c0,14.822,1.512,29.636,4.492,44.028c0.979,4.724,5.14,7.974,9.782,7.974c0.672,0,1.355-0.068,2.039-0.21 C56.721,301.672,60.197,296.38,59.077,290.972z"></path> <path d="M172.982,430.859c-43.999-19.113-79.407-53.593-99.701-97.088c-2.335-5.005-8.287-7.169-13.29-4.834 c-5.005,2.335-7.169,8.285-4.834,13.29c22.36,47.925,61.375,85.916,109.856,106.976c1.297,0.564,2.649,0.831,3.979,0.831 c3.862,0,7.54-2.25,9.178-6.019C180.37,438.949,178.047,433.059,172.982,430.859z"></path> </g> </g> </g> </g></svg>                    <span>Suallar</span>
                </a>
            </li>

            <!-- Nav Item - Category -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Category">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#ffffffclip0_429_11052)"> <circle cx="17" cy="7" r="3" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></circle> <circle cx="7" cy="17" r="3" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></circle> <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11052"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Kateqoriya</span>
                </a>
            </li>

            <!-- Nav Item - Adress -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Adress">
                    <svg width="27px" height="27px" viewBox="-4 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>location</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-104.000000, -411.000000)" fill="#fff"> <path d="M116,426 C114.343,426 113,424.657 113,423 C113,421.343 114.343,420 116,420 C117.657,420 119,421.343 119,423 C119,424.657 117.657,426 116,426 L116,426 Z M116,418 C113.239,418 111,420.238 111,423 C111,425.762 113.239,428 116,428 C118.761,428 121,425.762 121,423 C121,420.238 118.761,418 116,418 L116,418 Z M116,440 C114.337,440.009 106,427.181 106,423 C106,417.478 110.477,413 116,413 C121.523,413 126,417.478 126,423 C126,427.125 117.637,440.009 116,440 L116,440 Z M116,411 C109.373,411 104,416.373 104,423 C104,428.018 114.005,443.011 116,443 C117.964,443.011 128,427.95 128,423 C128,416.373 122.627,411 116,411 L116,411 Z" id="location" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
                    <span>Adress</span>
                </a>
            </li>

            <!-- Nav Item - Sosial -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Sosial">
                    <svg width="28px" height="28px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 7.16C17.94 7.15 17.87 7.15 17.81 7.16C16.43 7.11 15.33 5.98 15.33 4.58C15.33 3.15 16.48 2 17.91 2C19.34 2 20.49 3.16 20.49 4.58C20.48 5.98 19.38 7.11 18 7.16Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16.9699 14.44C18.3399 14.67 19.8499 14.43 20.9099 13.72C22.3199 12.78 22.3199 11.24 20.9099 10.3C19.8399 9.59004 18.3099 9.35003 16.9399 9.59003" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5.96998 7.16C6.02998 7.15 6.09998 7.15 6.15998 7.16C7.53998 7.11 8.63998 5.98 8.63998 4.58C8.63998 3.15 7.48998 2 6.05998 2C4.62998 2 3.47998 3.16 3.47998 4.58C3.48998 5.98 4.58998 7.11 5.96998 7.16Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6.99994 14.44C5.62994 14.67 4.11994 14.43 3.05994 13.72C1.64994 12.78 1.64994 11.24 3.05994 10.3C4.12994 9.59004 5.65994 9.35003 7.02994 9.59003" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14.63C11.94 14.62 11.87 14.62 11.81 14.63C10.43 14.58 9.32996 13.45 9.32996 12.05C9.32996 10.62 10.48 9.46997 11.91 9.46997C13.34 9.46997 14.49 10.63 14.49 12.05C14.48 13.45 13.38 14.59 12 14.63Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9.08997 17.78C7.67997 18.72 7.67997 20.26 9.08997 21.2C10.69 22.27 13.31 22.27 14.91 21.2C16.32 20.26 16.32 18.72 14.91 17.78C13.32 16.72 10.69 16.72 9.08997 17.78Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <span>Sosial şəbəkələr</span>
                </a>
            </li>

            <!-- Nav Item - Slide -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Slide">
                    <svg width="25px" height="25px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-slide-show"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>Slide-show</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g fill="#fff"> <rect x="7" y="0" width="1.906" height="2.219" class="si-glyph-fill"> </rect> <path d="M15.993,2.621 C15.993,2.287 15.674,2.016 15.281,2.016 L0.781,2.016 C0.387,2.016 0.069,2.287 0.069,2.621 L0.069,3.937 L1.031,3.937 L1.031,11.986 L5.465,11.986 L3.17,14.724 C3.009,14.886 3.069,15.209 3.306,15.446 L3.736,15.875 L7.063,12.105 L7.063,15.968 L8.914,15.968 L8.914,12.002 L12.333,15.874 L12.762,15.445 C12.999,15.209 13.06,14.885 12.898,14.723 L10.533,11.985 L14.939,11.985 L14.939,3.936 L15.995,3.936 L15.995,2.621 L15.993,2.621 Z M14.031,11.106 L1.959,11.106 L1.959,3.937 L14.031,3.937 L14.031,11.106 L14.031,11.106 Z" class="si-glyph-fill"> </path> </g> </g> </g></svg>
                    <span>Slaydlar</span>
                </a>
            </li>

            <!-- Nav Item - Service -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Service">
                    <svg width="28px" height="28px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 0h48v48H0z" fill="none"></path> <g id="Shopicon"> <circle cx="20.083" cy="17.997" r="2"></circle> <circle cx="28.002" cy="17.997" r="2"></circle> <path d="M24.083,31.913C28.448,31.913,32,28.363,32,24h-4c0,2.157-1.757,3.913-3.917,3.913S20.166,26.157,20.166,24h-4 C16.166,28.363,19.718,31.913,24.083,31.913z"></path> <path d="M41.369,19.029C39.205,11.517,32.282,6,24.083,6S8.961,11.517,6.797,19.029C5.282,19.177,4.083,20.448,4.083,22v4 c0,1.65,1.35,3,3,3c1.65,0,3-1.35,3-3v-2.002C10.084,16.279,16.364,10,24.083,10c7.72,0,14,6.28,14,14s-6.28,14-14,14v0h-2.014 c-1.65,0-3,1.35-3,3s1.35,3,3,3h4.014c1.552,0,2.824-1.199,2.971-2.714c5.931-1.709,10.606-6.384,12.315-12.315 c1.515-0.147,2.714-1.419,2.714-2.971v-4C44.083,20.448,42.884,19.176,41.369,19.029z"></path> </g> </g></svg>
                    <span>Servislər</span>
                </a>
            </li>

            <!-- Nav Item - Service About-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="ServiceAbout">
                    <svg width="24px" height="24px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" id="Layer_3" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M26.22,13.234c0.572,0,1.097-0.202,1.57-0.606c0.469-0.404,0.757-0.894,0.86-1.466 c0.098-0.576-0.024-1.062-0.38-1.466c-0.354-0.408-0.818-0.61-1.392-0.61c-0.576,0-1.1,0.202-1.569,0.61 c-0.474,0.403-0.763,0.89-0.86,1.466c-0.071,0.573,0.066,1.062,0.402,1.466C25.19,13.032,25.648,13.234,26.22,13.234z" fill="#fff"></path> <path d="M30.622,27.4c-0.053,0.075-0.104,0.14-0.156,0.216c-0.312,0.396-1.475,1.795-2.984,2.632 c-0.01,0.004-0.019,0.008-0.024,0.014c-0.132,0.07-0.267,0.123-0.401,0.185c-0.398,0.143-0.771,0.179-0.891,0.188 c-0.339-0.044-0.522-0.281-0.522-0.73c0-0.371,0.108-1.104,0.328-2.205l0.254-1.111l1.035-4.968 c0.168-0.846,0.258-1.316,0.278-1.409l0.226-1.162c0.133-0.719,0.201-1.194,0.201-1.426c0-0.444-0.11-0.781-0.287-1.055 c-0.016-0.04-0.037-0.08-0.066-0.122c-0.026-0.032-0.054-0.06-0.082-0.089c-0.031-0.034-0.046-0.063-0.088-0.098 c-0.441-0.36-0.853-0.464-1.137-0.487l0.005-0.008c0,0-1.867-0.141-4.634,1.682c-0.039,0.026-0.063,0.045-0.1,0.07 c-0.75,0.474-1.348,0.949-1.764,1.332c-0.318,0.272-0.562,0.525-0.744,0.762l-0.009,0.011l0.001-0.001 c-0.235,0.311-0.359,0.593-0.359,0.843c0,0.197,0.159,0.394,0.476,0.591c0,0,1.188-1.534,3.185-2.532 c0.15-0.065,0.534-0.224,0.871-0.312c0.158-0.036,0.455-0.064,0.646,0.093c0.136,0.142,0.226,0.339,0.226,0.646 c0,0.279-0.041,0.618-0.127,1.023l-0.201,0.957l-0.252,1.196l-0.986,4.728c-0.504,2.442-0.757,3.903-0.757,4.379 c0,1.123,0.615,1.685,1.843,1.685c0.557,0,1.13-0.101,1.717-0.281c0.004,0,0.006,0.002,0.01,0.004 c0.04-0.014,0.076-0.029,0.115-0.043c0.098-0.031,0.195-0.068,0.293-0.105c2.771-1.031,4.595-3.108,5.146-3.804 c0.049-0.059,0.091-0.114,0.13-0.167c0.031-0.043,0.051-0.072,0.051-0.072h-0.002c0.14-0.206,0.217-0.377,0.217-0.505 C31.299,27.766,31.068,27.587,30.622,27.4z" fill="#fff"></path> <path d="M18.732,31.873l1.435-1.436l-2.604-2.606l-1.435,1.438c-0.836-0.554-1.768-0.967-2.764-1.226v-2.147H8.74 v2.147c-1.019,0.264-1.973,0.688-2.822,1.26l-1.378-1.378l-2.605,2.603l1.401,1.402c-0.536,0.82-0.938,1.734-1.19,2.708H0v4.62 h2.146c0.258,0.997,0.671,1.932,1.225,2.768l-1.436,1.437l2.605,2.603l1.437-1.436c0.837,0.555,1.773,0.97,2.773,1.228V48h4.605 v-2.143c0.976-0.252,1.892-0.656,2.715-1.192l1.493,1.493l2.604-2.604l-1.47-1.472c0.574-0.854,1-1.814,1.263-2.838h2.143v-4.591 H19.96C19.703,33.652,19.289,32.713,18.732,31.873z M11.051,40.737c-2.092,0-3.788-1.696-3.788-3.788s1.696-3.789,3.788-3.789 s3.789,1.697,3.789,3.789S13.143,40.737,11.051,40.737z" fill="#fff"></path> <path d="M24,0.125C10.814,0.125,0.125,10.814,0.125,24c0,1.757,0.195,3.468,0.555,5.116 c0.968-1.265,2.16-2.344,3.521-3.182C4.14,25.298,4.104,24.653,4.104,24C4.104,13.012,13.012,4.104,24,4.104 S43.896,13.012,43.896,24S34.988,43.896,24,43.896c-0.653,0-1.297-0.036-1.935-0.098c-0.838,1.361-1.917,2.554-3.182,3.521 c1.649,0.36,3.359,0.556,5.116,0.556c13.186,0,23.875-10.689,23.875-23.875S37.186,0.125,24,0.125z" fill="#fff"></path> </g> </g></svg>

                    <span>Servis haqqında</span>
                </a>
            </li>


            <!-- Nav Item - Service About Item-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="ServiceAboutItem">
                    <svg fill="#fff" width="28px" height="28px" viewBox="0 0 512 512" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M219.59,292.5a8,8,0,0,1,0,11.31l-90.05,90.06a8,8,0,1,1-11.31-11.32l90.05-90.05A8,8,0,0,1,219.59,292.5Zm208.74,96A8,8,0,0,1,415,391.78l-27.15-27.15L373.1,379.39l27.16,27.17a8,8,0,0,1-3.32,13.3,51.5,51.5,0,0,1-15.08,2.21c-15.64,0-31.77-6.7-43.91-18.84-11.61-11.61-18.35-26.77-18.82-42.06l-52.38-52.39a8,8,0,0,1-1.77-1.33l-5.57-5.57a43.89,43.89,0,0,1-11.05,18.41l-97.47,97.47a43.34,43.34,0,0,1-29.17,12.84l-1.5,0a38.51,38.51,0,0,1-27.56-11.22c-15.59-15.59-14.85-41.71,1.66-58.22l97.47-97.47a44,44,0,0,1,18.4-11.05l-5.55-5.55a8,8,0,0,1-1.33-1.77l-52.55-52.56c-15.28-.46-30.43-7.2-42-18.81-16.11-16.13-22.64-39.27-16.64-59a8,8,0,0,1,13.31-3.32l27.16,27.15,14.76-14.77L120.15,96.91a8,8,0,0,1,3.32-13.31c19.71-6,42.87.51,59,16.63,11.62,11.61,18.36,26.77,18.83,42.07l70,70L379.11,104.42A7.71,7.71,0,0,1,381,103L418.3,83A8,8,0,0,1,429.13,93.8l-20.08,37.3a8,8,0,0,1-1.39,1.87L299.81,240.82l69.85,69.85c15.28.46,30.42,7.2,42,18.81C427.81,345.61,434.33,368.76,428.33,388.46ZM282.73,278.38l-49-49-11.89,11.88,49,49Zm-16.16-38.8,5.93,5.93,123-123,6.9-12.82-12.83,6.89ZM159.73,179.14l50.79,50.79,17.54-17.54a8,8,0,0,1,11.31,0l15.88,15.88,4.69-4.69-72.31-72.31a8,8,0,0,1-2.34-5.93c.41-12.08-4.74-24.4-14.14-33.79a47.85,47.85,0,0,0-27.61-13.88l20.74,20.75a8,8,0,0,1,0,11.31L138.2,155.81a8,8,0,0,1-11.31,0l-20.73-20.73A48,48,0,0,0,120,162.67c9.4,9.39,21.71,14.54,33.77,14.13h.28A8,8,0,0,1,159.73,179.14Zm85.41,108.47-20.68-20.67A27.17,27.17,0,0,0,203.11,275L105.63,372.5c-10.27,10.27-11,26.24-1.65,35.6a22.78,22.78,0,0,0,17.17,6.51,27.4,27.4,0,0,0,18.42-8.16L237.05,309a27.4,27.4,0,0,0,8.16-18.42A24,24,0,0,0,245.14,287.61Zm169.11,80.77a47.87,47.87,0,0,0-13.87-27.58c-9.4-9.4-21.71-14.54-33.76-14.13a8,8,0,0,1-5.93-2.34L288.5,252.14l-4.69,4.69,15.89,15.9a8,8,0,0,1,0,11.31l-17.53,17.53,50.61,50.63a8,8,0,0,1,2.34,5.92c-.4,12.08,4.75,24.4,14.14,33.8a47.89,47.89,0,0,0,27.61,13.87l-20.74-20.74a8,8,0,0,1,0-11.32l26.08-26.08a8,8,0,0,1,11.31,0Z"></path></g></svg>
                    <span>Servis detalları</span>
                </a>
            </li>

            <!-- Nav Item - Health Tip-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="HealthTip">
                    <svg width="27px" height="27px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>health</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="add" fill="#fff" transform="translate(42.666667, 64.000000)"> <path d="M365.491733,234.665926 C339.947827,276.368766 302.121072,321.347032 252.011468,369.600724 L237.061717,383.7547 C234.512147,386.129148 231.933605,388.511322 229.32609,390.901222 L213.333333,405.333333 C205.163121,398.070922 197.253659,390.878044 189.604949,383.7547 L174.655198,369.600724 C124.545595,321.347032 86.7188401,276.368766 61.174934,234.665926 L112.222458,234.666026 C134.857516,266.728129 165.548935,301.609704 204.481843,339.08546 L213.333333,347.498667 L214.816772,346.115558 C257.264819,305.964102 290.400085,268.724113 314.444476,234.665648 L365.491733,234.665926 Z M149.333333,58.9638831 L213.333333,186.944 L245.333333,122.963883 L269.184,170.666667 L426.666667,170.666667 L426.666667,213.333333 L247.850667,213.333333 L213.333333,282.36945 L149.333333,154.368 L119.851392,213.333333 L3.55271368e-14,213.333333 L3.55271368e-14,170.666667 L93.4613333,170.666667 L149.333333,58.9638831 Z M290.133333,0 C353.756537,0 405.333333,51.5775732 405.333333,115.2 C405.333333,126.248908 404.101625,137.626272 401.63821,149.33209 L357.793994,149.332408 C360.62486,138.880112 362.217829,128.905378 362.584434,119.422244 L362.666667,115.2 C362.666667,75.1414099 330.192075,42.6666667 290.133333,42.6666667 C273.651922,42.6666667 258.124715,48.1376509 245.521279,58.0219169 L241.829932,61.1185374 L213.366947,86.6338354 L184.888885,61.1353673 C171.661383,49.2918281 154.669113,42.6666667 136.533333,42.6666667 C96.4742795,42.6666667 64,75.1409461 64,115.2 C64,125.932203 65.6184007,137.316846 68.8727259,149.332605 L25.028457,149.33209 C22.5650412,137.626272 21.3333333,126.248908 21.3333333,115.2 C21.3333333,51.5767968 72.9101302,0 136.533333,0 C166.046194,0 192.966972,11.098031 213.350016,29.348444 C233.716605,11.091061 260.629741,0 290.133333,0 Z" id="Combined-Shape"> </path> </g> </g> </g></svg>
                    <span>Sağlamlıq</span>
                </a>
            </li>
            
            <!-- Nav Item - Health Tip İtem-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="HealthTipItem">
                    <svg fill="#fff" width="25px" height="25px" viewBox="0 0 32 32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M25.994,9.026l0,-4.038c0,-0.796 -0.316,-1.559 -0.879,-2.122c-0.562,-0.562 -1.325,-0.878 -2.121,-0.878c-3.463,-0 -10.537,-0 -14,-0c-0.795,-0 -1.559,0.316 -2.121,0.878c-0.563,0.563 -0.879,1.326 -0.879,2.122l0,22.012c0,0.796 0.316,1.559 0.879,2.121c0.562,0.563 1.326,0.879 2.121,0.879c3.463,0 10.537,0 14,0c0.552,0 1,-0.448 1,-1c0,-0.552 -0.448,-1 -1,-1c-3.463,0 -10.537,0 -14,-0c-0.265,0 -0.519,-0.105 -0.707,-0.293c-0.187,-0.187 -0.293,-0.442 -0.293,-0.707c0,-0 0,-22.012 0,-22.012c0,-0.266 0.106,-0.52 0.293,-0.707c0.188,-0.188 0.442,-0.293 0.707,-0.293l14,-0c0.265,-0 0.52,0.105 0.707,0.293c0.188,0.187 0.293,0.441 0.293,0.707c0,-0 0,4.038 0,4.038c0,0.552 0.448,1 1,1c0.552,-0 1,-0.448 1,-1Z"></path><path d="M14.996,8.026l-0.989,-0c-0.552,-0 -1,0.448 -1,1c0,0.552 0.448,1 1,1l0.986,-0l-0.002,0.985c-0,0.552 0.447,1.001 0.999,1.002c0.552,0.001 1.001,-0.447 1.001,-0.999l0.002,-0.988l0.989,-0c0.552,-0 1,-0.448 1,-1c-0,-0.552 -0.448,-1 -1,-1l-0.986,-0l0.002,-0.986c0,-0.552 -0.447,-1.001 -0.999,-1.001c-0.552,-0.001 -1.001,0.446 -1.001,0.998l-0.002,0.989Z"></path><path d="M28.003,22.013l0,-7.018c0,-1.657 -1.343,-3 -3,-3l-4.001,-0c-1.657,-0 -3,1.343 -3,3l-0,7.018c-0,0.316 0.149,0.613 0.402,0.802l4.024,3c0.357,0.266 0.845,0.264 1.2,-0.003l3.978,-3c0.25,-0.189 0.397,-0.485 0.397,-0.799Zm-2,-7.018l0,6.52c0,-0 -2.981,2.248 -2.981,2.248c0,0 -3.02,-2.252 -3.02,-2.252c-0,0 -0,-6.516 -0,-6.516c-0,-0.552 0.447,-1 1,-1c-0,-0 4.001,-0 4.001,-0c0.553,-0 1,0.448 1,1Z"></path><path d="M10.993,16.988l4.004,0.003c0.552,0.001 1,-0.447 1.001,-0.999c0,-0.552 -0.447,-1 -0.999,-1.001l-4.004,-0.003c-0.552,-0.001 -1,0.447 -1.001,0.999c-0,0.552 0.447,1 0.999,1.001Z"></path><path d="M11.002,20.988l4.004,0.003c0.552,0.001 1,-0.447 1.001,-0.999c0,-0.552 -0.448,-1 -1,-1.001l-4.003,-0.003c-0.552,-0.001 -1.001,0.447 -1.001,0.999c-0.001,0.552 0.447,1 0.999,1.001Z"></path><path d="M10.993,24.988l4.004,0.003c0.552,0.001 1,-0.447 1.001,-0.999c0,-0.552 -0.447,-1 -0.999,-1.001l-4.004,-0.003c-0.552,-0.001 -1,0.447 -1.001,0.999c-0,0.552 0.447,1 0.999,1.001Z"></path></g></svg>                    <span>Sağlamlıq detallar</span>
                </a>
            </li>

            <!-- Nav Item - WhyChooseUs-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="WhyChooseUs">
                    <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 32 32" xml:space="preserve" fill="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">
                                                                                                                                                                                                                                                                                                                                                                                                      .puchipuchi_een {
                                                                                                                                                                                                                                                                                                                                                                                                          fill: #fff;
                                                                                                                                                                                                                                                                                                                                                                                                      }
</style> <path class="puchipuchi_een" d="M7,6c0-2.757,2.243-5,5-5s5,2.243,5,5c0,1.627-0.793,3.061-2,3.974V6c0-1.654-1.346-3-3-3 S9,4.346,9,6v3.974C7.793,9.061,7,7.627,7,6z M24,13c-1.104,0-2,0.896-2,2v-1c0-1.104-0.896-2-2-2s-2,0.896-2,2v-1 c0-1.104-0.896-2-2-2s-2,0.896-2,2V6c0-1.104-0.896-2-2-2s-2,0.896-2,2v10.277C9.705,16.106,9.366,16,9,16c-1.104,0-2,0.896-2,2v3 c0,0.454,0.155,0.895,0.438,1.249L11,28h12l2.293-3.293C25.682,24.318,26,23.55,26,23v-8C26,13.896,25.104,13,24,13z M11,29v1 c0,0.552,0.447,1,1,1h10c0.553,0,1-0.448,1-1v-1H11z"></path> </g></svg>
                    <span>Niyə biz?</span>
                </a>
            </li>

             <!-- Nav Item - WhyChooseUsItem-->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="WhyChooseUsItem">
<svg fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 123.197 123.197" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M79.204,33.739c9.304,0,16.867-7.569,16.867-16.871C96.071,7.567,88.508,0,79.204,0c-9.306,0-16.869,7.567-16.869,16.868 C62.335,26.169,69.899,33.739,79.204,33.739z M79.204,3.098c7.592,0,13.768,6.179,13.768,13.77c0,7.592-6.176,13.768-13.768,13.768 s-13.769-6.177-13.769-13.768S71.612,3.098,79.204,3.098z M43.461,33.739c9.3,0,16.87-7.569,16.87-16.87 c0-9.3-7.57-16.869-16.87-16.869C34.16,0,26.594,7.569,26.594,16.869S34.161,33.739,43.461,33.739z M43.461,3.1 c7.592,0,13.769,6.177,13.769,13.769c0,7.591-6.177,13.767-13.769,13.767c-7.592,0-13.768-6.176-13.768-13.767 C29.695,9.277,35.87,3.1,43.461,3.1z M27.167,33.883c-9.303,0-16.87,7.566-16.87,16.868c0,9.301,7.567,16.868,16.87,16.868 c9.302,0,16.868-7.567,16.868-16.868C44.037,41.45,36.47,33.883,27.167,33.883z M27.167,64.521 c-7.592,0-13.769-6.177-13.769-13.771c0-7.593,6.177-13.769,13.769-13.769c7.591,0,13.768,6.176,13.768,13.769 C40.936,58.344,34.759,64.521,27.167,64.521z M96.03,33.883c-9.301,0-16.869,7.566-16.869,16.868c0,9.301,7.568,16.87,16.869,16.87 s16.869-7.569,16.869-16.87C112.899,41.45,105.331,33.883,96.03,33.883z M96.03,64.521c-7.59,0-13.769-6.177-13.769-13.771 c0-7.591,6.179-13.769,13.769-13.769c7.592,0,13.769,6.178,13.769,13.769C109.798,58.344,103.62,64.521,96.03,64.521z M24.975,41.239l-5.776,16.44h3.739l1.188-3.897h5.969l1.188,3.897h3.741l-5.801-16.44H24.975z M24.998,50.87 c1.167-3.77,1.872-6.134,2.118-7.089c0.058,0.269,0.157,0.636,0.296,1.096c0.138,0.463,0.756,2.462,1.854,5.993H24.998z M48.555,23.438c1.079-0.837,1.617-2.002,1.617-3.495c0-1.052-0.228-1.896-0.688-2.53c-0.457-0.637-1.205-1.068-2.246-1.302V16 c0.766-0.127,1.373-0.503,1.834-1.129c0.457-0.629,0.687-1.433,0.687-2.408c0-1.443-0.522-2.494-1.57-3.153 c-1.052-0.662-2.736-0.991-5.057-0.991h-5.096v16.373h6.126C46.01,24.691,47.476,24.271,48.555,23.438z M41.504,11.161h1.825 c0.995,0,1.719,0.137,2.181,0.409c0.456,0.272,0.686,0.723,0.686,1.35c0,0.672-0.21,1.154-0.631,1.444 c-0.423,0.291-1.103,0.438-2.044,0.438h-2.017V11.161z M41.504,21.824v-4.267h2.15c1.942,0,2.913,0.68,2.913,2.039 c0,0.754-0.229,1.313-0.685,1.678c-0.454,0.367-1.16,0.55-2.118,0.55H41.504z M74.6,22.753c-1.263-1.446-1.894-3.52-1.894-6.222 c0-1.703,0.311-3.194,0.932-4.474c0.618-1.281,1.51-2.263,2.67-2.944c1.162-0.684,2.521-1.025,4.082-1.025 c1.592,0,3.189,0.384,4.795,1.154l-1.121,2.821c-0.611-0.29-1.229-0.546-1.847-0.762c-0.62-0.217-1.228-0.324-1.827-0.324 c-1.307,0-2.318,0.491-3.034,1.472c-0.718,0.981-1.073,2.349-1.073,4.105c0,3.652,1.368,5.476,4.107,5.476 c1.152,0,2.543-0.288,4.177-0.861v2.91c-1.343,0.562-2.843,0.841-4.502,0.841C77.683,24.92,75.862,24.198,74.6,22.753z M96.188,42.564h-5.142v16.375h4.637c2.897,0,5.114-0.718,6.647-2.151c1.531-1.433,2.302-3.498,2.302-6.193 c0-2.53-0.739-4.502-2.22-5.913C100.938,43.27,98.862,42.564,96.188,42.564z M96.011,56.072h-1.492V45.41h1.85 c3.105,0,4.658,1.757,4.658,5.273C101.026,54.275,99.353,56.072,96.011,56.072z M48.738,57.792l-3.616-2.149l1.058-1.779 l3.616,2.149L48.738,57.792z M77.344,55.025l1.055,1.776l-3.616,2.149l-1.056-1.776L77.344,55.025z M67.88,44.209l5.984-9.804 l1.762,1.076l-5.984,9.804L67.88,44.209z M48.78,33.889l5.985,9.803L53,44.77l-5.985-9.803L48.78,33.889z M61.998,47.296 c4.333,0,7.851,3.517,7.851,7.854c0,4.336-3.518,7.854-7.851,7.854c-4.34,0-7.857-3.518-7.857-7.854 C54.141,50.813,57.658,47.295,61.998,47.296z M67.219,64.914c-0.13-0.079-0.271-0.139-0.406-0.195 c-0.875-0.584-1.858-1.014-2.862-1.261l-1.952,1.972l-1.9-1.992c-0.007,0-0.013,0.002-0.02,0.002 c-1.005,0.242-1.992,0.668-2.872,1.25c-0.155,0.064-0.313,0.135-0.464,0.226c-6.098,3.74-9.599,6.697-10.681,24.004 c-0.104,1.683,1.177,3.13,2.854,3.235c0.068,0.003,0.132,0.005,0.193,0.005c1.598,0,2.94-1.242,3.043-2.858 c0.365-5.843,0.956-9.629,1.806-12.24v10.562c0,0.822,0.157,1.587,0.438,2.289c-0.021,0.16-0.038,0.32-0.038,0.482l0.007,29.199 c0,1.989,1.61,3.604,3.602,3.604c1.99,0,3.604-1.614,3.604-3.604l-0.003-25.059c0.143,0.007,0.287,0.018,0.432,0.018 c0.025,0,0.053-0.002,0.081-0.004v25.045c0,1.989,1.612,3.604,3.604,3.604c1.99,0,3.604-1.614,3.604-3.604l0.002-29.02 c0.473-0.875,0.748-1.866,0.748-2.952V77.148c0.832,2.607,1.416,6.373,1.776,12.152c0.101,1.615,1.444,2.857,3.04,2.857 c0.062,0,0.131-0.002,0.191-0.005c1.681-0.104,2.957-1.554,2.854-3.235C76.817,71.612,73.316,68.655,67.219,64.914z M62.013,80.973 h-0.036l-1.893-2.592l1.893-12.66h0.036l1.896,12.66L62.013,80.973z"></path> </g> </g></svg>           
          <span>"Niyə biz" detallar</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 mt-3" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->

                                <span asp-action="Index" asp-controller="Notifications" class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                     src="~/admin/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-action="LogOut" asp-controller="Account">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a asp-area="" asp-action="LogOut" asp-controller="Account">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/chart-area-demo.js"></script>
    <script src="~/admin/js/demo/chart-pie-demo.js"></script>

    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>

    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.min.js"></script>


    <script>
        ClassicEditor
            .create(document.querySelector('#ckEditor'))
    </script>

    @RenderSection("Scripts", false)

</body>

</html>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetUnreadMessage", "Contact")',
            type: 'GET',
            success: function (data) {
                if (data > 0) {
                    $('#contactCount').text(data).show();
                } else {
                    $('#contactCount').hide();
                }
            },
            error: function () {
                console.log("Error fetching contact count.");
            }
        });
    });
</script>