@using Entities.TableModels
@model AdressUpdateDto;

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label">Dil</label>
                <select asp-for="LanguageId" class="form-control">
                    @foreach (var item in ViewData["Languages"] as IEnumerable<Language>)
                    {
                        <option value="@item.Id">@item.Value</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Ünvan</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>

                <label asp-for="Email" class="control-label">E-Poçt</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span> 
                
                <label asp-for="Phone1" class="control-label">Telefon Nömrəsi</label>
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger"></span>  
                
                <label asp-for="Phone2" class="control-label">Telefon Nömrəsi</label>
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>

                <label asp-for="Phone3" class="control-label">Telefon Nömrəsi</label>
                <input asp-for="Phone3" class="form-control" />
                <span asp-validation-for="Phone3" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Dəyişikliyi yadda saxla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geriyə</a>
</div>

