@using Entities.TableModels
﻿
@model ServiceUpdateDto;

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label">Dil</label>
                <select asp-for="LanguageId" class="form-control">
                    @foreach (var item in ViewData["Languages"] as IEnumerable<Language>)
                    {
                        <option value="@item.Id">@item.Value</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlıq</label>
                <input asp-for="Title" class="form-control" id="answer" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıqlama</label>
                <input asp-for="Description"  class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            
            <div class="form-group" style="min-height:300px;">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" src="@Model.PhotoUrl" alt="Yeni şəkil seçməsəz, sonuncu şəkil yüklənəcək." />
                    </div>
                    <div class="card p-3 mt-3">
                        <input type="file" asp-for="PhotoUrl" name="imgUrl" value="@Model.PhotoUrl"/>
                    </div>
                </div>
            </div>
           
            <div class="form-group d-flex align-items-center">
                <span style="margin-right:1rem;">Ana səhifədə olsun?:</span>
                <input asp-for="IsHomePage" type="checkbox" />
            </div>

           

            <div class="form-group">
                <input type="submit" value="Təsdiq et" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri</a>
</div>